*.unity filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
'Jet-Ski-Racer/Library/*' filter=lfs diff=lfs merge=lfs -text
'Jet-Ski-Racer/*' filter=lfs diff=lfs merge=lfs -text
'Jet-Ski-Racer/Assets/*' filter=lfs diff=lfs merge=lfs -text
'Jet-Ski-Racer/Library/Artifacts/9e/*' filter=lfs diff=lfs merge=lfs -text
'Jet-Ski-Racer/Library/Artifacts/03/*' filter=lfs diff=lfs merge=lfs -text
'Jet-Ski-Racer/Library/Artifacts/cc/*' filter=lfs diff=lfs merge=lfs -text
'Jet-Ski-Racer/Library/Artifacts/0d/*' filter=lfs diff=lfs merge=lfs -text
'Jet-Ski-Racer/Library/Artifacts/cc/ccd7a9c7f4a2f540dd3529209d9249e2' filter=lfs diff=lfs merge=lfs -text
